ul{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    row-gap: 10px;
    justify-content: center;
    padding: 10px;
    align-items: unsafe;
    list-style-type: none; /* Quita los puntos de la lista */
    
}

.list-item {
    display: flex;
     align-items: center; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff; /* Fondo blanco para resaltar */
    max-width: 100%; /* Evita que el div crezca demasiado */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-bottom: 10px;
    margin-top: 20px;
    transition: box-shadow 0.9s ease-in-out;
    
}
.list-item:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Sombra más intensa al pasar el mouse */
    transform: scale(1.2);
}
  
li {
 
    font-size: x-large;
    flex-grow: 1;
    max-width: 70%; /* Limita el ancho del texto */
    word-wrap: break-word; /* Permite que el texto haga un salto de línea */
    overflow-wrap: break-word;
    white-space: normal; /* Asegura que no se mantenga en una sola línea */
  }
  

  
  .button-group {
    display: flex;
    gap: 10px; /* Espacio entre botones */
    flex-direction:row ;
    justify-content: center;
    margin-top: 20px;
  }
  




.selezionato {
    background-color: #4CAF50 ;
    transition: background-color ease-in-out 0.5s; /* Efecto suave */
    border-left: 4px solid #4CAF50 ;
    color: white;
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-color: black;
    
  }

  .button-group{

    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente (opcional) */
    gap: 10px;              /* Espacio entre botones */
    width: 100%;            /* Ocupa todo el ancho disponible */
  
  }